.App{
  display: flex;
  flex-direction: column;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
  box-shadow: 0px 1px 5px lightgray;
}
.search__filter{
  display: flex;
  padding: 30px 5%;
  justify-content: space-between;
  align-items: center;
}
.search{
  display: flex;
  padding: 10px;
  flex: 0.3;
  box-shadow: 0px 0px 3px lightgray;
  border-radius: 5px;
}
.search>img{
  width: 15px;
  padding: 0px 10px;
}
.search>input{
  width: 100%;
  border: none;
  font-family: inherit;
  outline: none;
}
.filters{
  padding: 10px;
  border: none;
  font-family: inherit;
  position: relative;
  outline: none;
  flex:0.1;
  border-radius: 2px;
  box-shadow: 0px 0px 5px lightgrey;
}
.filters__holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filters__holder>h3{
  font-size: 12px;
  color: hsl(200, 15%, 8%);
  font-weight: 300;
}
.holder__options{
  position: absolute;
  width: 100%;
  margin-top: 15px;
  background-color: white;
  margin-left: -10px;
  box-shadow: 0px 0px 5px lightgrey;
}
.holder__options>option{
  padding:5px 10px;
  font-size: 12px;
  color: hsl(200, 15%, 8%);
  cursor: pointer;
}

/* COuntries */

.countries{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 5%;
}
.country{
  display: flex;
  flex-direction: column;
  width: 21%;
  margin: 15px 0px;
  box-shadow: 0px 0px 10px lightgrey;
}
.country__flag{
  height: 180px;
  background-size: contain;
  background-repeat: repeat-x;
}
.country__details{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.country__details>h1{
  margin-bottom: 15px;
  font-size: 20px;
  color: hsl(200, 15%, 8%);
}
.country__details>p{
  font-size: 15px;
  color: hsl(200, 15%, 8%);
}
.country__details>p>span{
  color: hsl(0, 0%, 52%);

}